@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:wght@300;700&display=swap');

:root{
    --bg_color : #222831;
    --txt_color : #f0e5e9;
    --prim_color : #e23e57;
    --sec_color : #522546;
}


.ultra-bg{
    background-color: var(--bg_color);
    color:var(--txt_color);

    font-size: 1.2rem;
    max-width: 100%;
}


h1{
    font-family: 'Kaushan Script', cursive;
}

h2{
    margin:0;
}

body{
    
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.02rem;

    margin:auto;
    padding-inline-start: 0px;
}

html{
    margin-top: 5rem;
    
}

/**Scroll Controller**/
#scroll-ctrl{
    height:86vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scroll-margin-top: 5rem;
}

#scroll-ctrl::-webkit-scrollbar{
    display: none;
}

#scroll-ctrl{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.here{
    scroll-snap-align: start;
}

.text-deco-remove{
    text-decoration: none;
}

.non-bullet{
    list-style : none;
    text-decoration : none;
    padding:0;
}

.lined-link{
    display: inline;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
}

p{
    margin:0rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/**Links**/
.prim_link{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    display:inline-block;
    margin: 0.55rem 0.15rem 0.25rem 0.15rem;

    padding: 0.5rem 1rem 0.5rem 1rem;

    border-style : solid;
    border-color: var(--txt_color);
    border-width:0.1rem;

    color: var(--txt_color);
    background-color: var(--prim_color);
}

.prim_link:hover{
    background-color: var(--sec_color);
    animation: fadeIn ease 1s;
}

.sec_link{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    display:inline-block;
    margin: 1rem 0.15rem 0rem 0.15rem;

    padding: 0.5rem 1rem 0.5rem 1rem;

    border-style : solid;
    border-color: var(--prim_color);
    border-width:0.1rem;

    color: var(--prim_color);
}

.sec_link:hover{
    background-color: var(--txt_color);
    animation: fadeIn ease 1s;
}


.sub-title{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    margin:0rem -0.4rem 0rem 0rem;
    /**TOP RIGHT BOTTOM LEFT**/
}

.sub-title2{
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin:-0.4rem -0.2rem 1rem 0rem;
    /**TOP RIGHT BOTTOM LEFT**/
}

/**Images**/
.main-book-img{
    max-width:80%;
    object-fit: fill;
}

.floating{
    display:flex;
    align-items: center;
    justify-content: center;

}

.next-to-next{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}

.box-light{
    border-color: var(--txt_color);
    border: 0.2rem;
    border-style: solid;
    
    margin: 1rem;
    padding: 4rem;
    flex-basis:0;

    min-width:26vmin;
    max-width:30vmin;
    max-height:25vmin;

    align-self: center;
    align-content: center;
    justify-content:center;
    justify-self: center;
}

.box-dark{
    min-width:25vmin;
    min-height: 12vmin;
    max-width:30vmin;
    max-height:20vmin;

    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 60%;

    justify-content: center;
    vertical-align: middle;

    border-color: var(--bg_color);
    border: 0.2rem;
    border-style: solid;
    padding: 5rem;
    /*flex-basis:0;*/

    align-items: center;
    align-content: center;position: relative;
}



/**Navigation Bar**/
.navbar{
    background-color: var(--prim_color);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top:0;
    left:0;
}

.navbar nav a{
    overflow: hidden;
    text-decoration: none;
    color: var(--bg_color);
    padding:3.5rem 1rem 1.5rem 1rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;


    border-radius: 1rem;
}

.navbar nav a:hover{
    background-color: var(--txt_color);
    animation: fadeIn ease 1s;
}



#container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;

    flex-wrap:wrap;
}

#img-container{
    width:40%;
}

#content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#card_home{
    background-image: url("/assets/imgs/home-bg.jpg");
    background-color: var(--bg_color);
    height:90vh;
}

#card_white{
    background-color: var(--txt_color);
    color:var(--bg_color);
    height:90vh;
}

#card_black{
    background-color: var(--bg_color);
    color:var(--txt_color);
    height:90vh;
}

#card_mid{
    color: var(--txt_color);
    background-color:var(--sec_color);
    height:50vh;
}


/**Home**/
#home{
    padding-bottom: 5rem;
}

/**About**/
#about{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 5rem;
    text-align: center;
}

/**Compilers**/
#compilers{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 5rem;
    text-align: center;
}

.bg:hover{
    background-image:linear-gradient(var(--prim_color),var(--sec_color));
}




/**CreativeHead**/
#creative-head{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 5rem;
    text-align: center;
}

/**CoAuthors**/
#coauthors{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 5rem 3rem 5rem 3rem;

    text-align: center;
    align-content: space-around;
}

#coauthors .sec_link{
    margin-top : 0.5rem;
    margin-bottom: 0.5rem;
}

/**Footer**/
#footer{
    text-align: center;
    padding: 0.5rem 4rem 0.5rem 4rem;
    font-size: 0.7rem;

    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-icon{
    max-width:5%;
    height:auto;
}

.footer-text1{
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}




/**Animation Keyframes**/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
