@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:wght@300;700&display=swap');

:root{
    --bg_color : #222831;
    --txt_color : #f0e5e9;
    --prim_color : #e23e57;
    --sec_color : #522546;
}


.ultra-bg{
    background-color: var(--bg_color);
    color:var(--txt_color);

    font-size: 1.2rem;
    max-width: 100%;
}

h1{
    font-family: 'Kaushan Script', cursive;
}

h2{
    margin:0;
}

body{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.02rem;

    margin:auto;
    padding-inline-start: 0px;
}

html{
    margin-top: 5rem;
}

/**Scroll Controller**/
#scroll-ctrl{
    height:86vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    scroll-margin-top: 5rem;
}

.here{
    scroll-snap-align: start;

}


.non-bullet{
    list-style : none;
    text-decoration : none;
    padding:0;
}

.lined-link{
    display: inline;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

p{
    margin:0rem;
}


/**Links**/
.prim_link{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    display:inline-block;
    margin: 0.55rem 0.15rem 0.25rem 0.15rem;

    padding: 0.5rem 1rem 0.5rem 1rem;

    border-style : solid;
    border-color: var(--txt_color);
    border-width:0.1rem;

    color: var(--txt_color);
    background-color: var(--prim_color);
}

.sec_link{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    display:inline-block;
    margin: 1rem 0.15rem 1rem 0.15rem;

    padding: 0.5rem 1rem 0.5rem 1rem;

    border-style : solid;
    border-color: var(--prim_color);
    border-width:0.1rem;

    color: var(--prim_color);
}


.sub-title{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    margin:0rem -0.4rem 0rem 0rem;
    /**TOP RIGHT BOTTOM LEFT**/
}

.sub-title2{
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin:-0.4rem -0.2rem 1rem 0rem;
    /**TOP RIGHT BOTTOM LEFT**/
}

/**Images**/
.main-book-img{
    max-width:60%;
}

.floating{
    display:flex;
    align-items: center;
    justify-content: center;

}

.next-to-next{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
}

.box-light{
    border-color: var(--txt_color);
    border: 0.2rem;
    border-style: solid;
    padding: 5rem;
    flex-basis:0;
}

.box-dark{
    border-color: var(--bg_color);
    border: 0.2rem;
    border-style: solid;
    padding: 5rem;
    flex-basis:0;
}


/**Navigation Bar**/
.navbar{
    background-color: var(--prim_color);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top:0;
    left:0;
}

.navbar nav a{
    overflow: hidden;
    text-decoration: none;
    color: var(--bg_color);
    padding:3.5rem 1rem 1.5rem 1rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;


    border-radius: 1rem;
}

.navbar nav a:hover{
    color: var(--prim_color);
    background-color: var(--txt_color);
}


/**Footer**/
#footer{
    text-align: center;
    padding: 0.5rem 4rem 0.5rem 4rem;
    font-size: 0.7rem;

    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}


#container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

#img-container{
    width:40%;
}

#content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#card_white{
    background-color: var(--txt_color);
    color:var(--bg_color);
    height:80vh;
}

#card_black{
    background-color: var(--bg_color);
    color:var(--txt_color);
    height:80vh;
}


/**Home**/
#home{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/**About**/
#about{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 5rem;

    text-align: center;
}

/**Compilers**/
#compilers{
    padding: 5rem;

    text-align: center;
    height:70vh;
}

/**CreativeHead**/
#creative-head{

    padding: 5rem;

    text-align: center;
}

/**CoAuthors**/
#coauthors{
    height:70vh;
    padding: 5rem 3rem 5rem 3rem;

    text-align: center;
    align-content: space-around;
}

#coauthors .sec_link{
    margin-top : 0.5rem;
    margin-bottom: 0.5rem;
}
